@import "../../styles/variables.scss";

.info-block-container {
  flex-direction: column-reverse;
  text-align: center;
  display: flex;
  max-width: 1000px;
  .info-block-description {
    .info-block-title {
      font-size: 46px;
      font-weight: $font-weight-big;
    }
    .info-block-text {
      color: $Gray;
    }
  }
  svg {
    width: 100%;
  }
}

@media screen and (min-width: $desktop) {
  .info-block-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: start;
    .info-block-description{
      margin-left: 30px;
    }
    svg{
        width: fit-content;
    }
  }
}
